.mainPageCovertor::-webkit-scrollbar{
    width:0;
}

.convertorConatainer{
    display: flex;
    background-color:rgba(0, 21, 41);
    height: 60vh;
    padding: 1%;
}

.barChart{
   margin: 1%;
}

.site-card-border-less-wrapper{
    padding: 2% 0 0 0 ;
    height: 20%;
}

.ant-card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 33px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    background: #fff;
    border-radius: 2px;
}

.btn-exchange-rate-container{
    margin: 0px 0px;
}


.input_select{
    display: flex;
}

.convertBtn{
    background-color: #1d3557;
    color: #f1faee;
    font-size: 23%;
    padding: 20%;
}

.cryptoIcon{
    width: 100px;
    border-radius: 50%;
}

.cryptoIconOne{
    width: 80px;
    border-radius: 50%;

}

.cryptoDetails{
    display: flex;
    justify-content: space-between;
}

.keyText{
    color: red;
    font-size: 12px;
}

.ValueText{
    color: black;
}

.convertorConatainer::-webkit-scrollbar{
    width: 0;
    }

@media screen and (max-width:1560px) {
    .convertorConatainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height:60vh;
        overflow-y: auto;
    }
    
}

@media screen and (max-width:1050px){
    .convertorConatainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60vh;
        overflow-y: auto;
    }
    .cardConatiner{
        margin-top: 350px;
    }
    
}