.nav_link{
    background-color:rgb(69,123,157);
    height: 8vh;
    padding: 1%;
}

.nav_link > a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bolder;
}
.nav_link > a:hover{
    
    color: rgb(168,218,220);
}
.nav_link > a.active{
    color: white;
   
}
.logo{
    position: absolute;
    top:0;
    left:0;
}