.nav_link{
    background-color:rgb(69,123,157);
    height: 8vh;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.nav_link > a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bolder;
}
.nav_link > a:hover{
    /* color: rgb(141, 251, 255); */
}
.nav_link > a.active{
    /* color: rgb(149, 239, 255); */
   
}
.inputField{
    border-radius: 0.5rem;
    width: 20rem;
    padding: 1rem;
    border: 1px solid #364d79 ;
    color: black;
    height: 2rem;
    font-size: large;
    font-weight: 600;
}
.searchBtn{
    border: transparent;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: 600;
    color: black;
    padding:0.2rem 1rem .2rem 1rem;
    background-color: inherit;
    margin-left: 1.5rem
}
.searchBtn:hover{
    color: red;
    transition: 0.3s;
    cursor: pointer;
}