.trending {
  background-color: rgb(241, 250, 238);
  display: flex;
  padding: 2% 0% 2% 2%;
  height: 80vh;
  overflow-y: scroll;
}
.trend_chart {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
}

.trend_block_item{
display: flex;
justify-content: space-around;
align-items: center;
background-color:#e639473c ;
border: 2px solid rgba(0, 21, 41, 0.637);
margin: 6% 0;
border-radius: 10px;
width:90%;
padding: 3% 0 1% 1%;
}
.trend_block{
  margin-top: 5%;
margin-left: 5%;
    width:100%;
    text-align: center;
    
}

.trend_block_item:hover{
 cursor: pointer;
}

