.trending {
  background-color: rgb(241, 250, 238);
  display: flex;
}
.trend_chart {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
}

.trend_block_item{
display: flex;
justify-content: space-around;
align-items: center;
background-color:#e6394790 ;
border: 5px solid rgba(0, 21, 41, 0.637);
margin: 2%;
}
.trend_block{
    
    width:100%;
    
}


