.trending {
  background-color: rgb(241, 250, 238);
  display: flex;
  padding: 2% 0% 2% 2%;
  height: 80vh;
  width: 100%;
  overflow: auto;
}
.trending img {
  margin: 1%;
}
.trend_chart {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
  width: 70%;
}

.trend_block_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e639473c;
  border: 2px solid rgba(0, 21, 41, 0.637);
  margin: 6% 0;
  border-radius: 10px;
  width: 80%;
  padding: 3% 0 1% 1%;
}
.trend_block {
  margin-top: 5%;
  margin-left: 5%;
  width: 30%;
  text-align: center;
}

.trend_block_item:hover {
  cursor: pointer;
  background-color:white;
  border: 2px solid rgba(1, 72, 138, 0.637);
}

.area_chart {
  margin-bottom: 5%;
}
.radar_Chart {
  margin-left: 20%;
}
.recommends {
  margin-right: 20%;
}
.average_interval {
  position: absolute;
  top: 10;
  right: 3%;
}
